body{
    margin: 0;
    padding: 0;
}

.nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    background-color: #75b65b;
    color: #fff;
    height: 60px;
}

.links{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.link{
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;   
}

.link.active{
    color: #000;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.home-table{
    width: 100%;
    border-collapse: collapse;
}
.home-table td , .home-table th{
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
}

.flex{
    display: flex;
}

.header_logo_container{
    border-radius: 50%;
    margin: 20px;
    background-color:white;
}

.header_logo{
    width: 100px;
    height: 100px;
}

.circle{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid blue;

}


.square{
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid blue;
    margin: 20px;
}

table .shapes{
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}


.shapes_active{
    background-color: #000;
}

.shapes:hover{
    background-color: #000;
}

.home-table td.book_details{
    text-align: unset;
    line-height: 50px;
}

.hide{
    display: none;
}

.storiesBlock{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.storyBlock{
    margin: 10px;
    text-align: center;
}

.buttons{
    padding: 10px;
    border: 1px solid blue;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    padding-inline: 30px;
    background-color: orangered;
}

.form_field{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 10px;
}


.selected_book{
    line-height: 30px;
}